name: Cypress Monitor API Usage

on:
  schedule:
    - cron: '*/5 * * * *'   # cada 5 minutos
  workflow_dispatch:

jobs:
  cypress-monitor:
    runs-on: ubuntu-latest

    environment: produccion

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress
        run: npx cypress run --spec "cypress/e2e/pago-callapi.cy.ts" --browser chrome
        env:
          CYPRESS_USER_LOGIN: ${{ secrets.CYPRESS_USER_LOGIN }}
          CYPRESS_PASS_LOGIN: ${{ secrets.CYPRESS_PASS_LOGIN }}
          CYPRESS_SLACK_WEBHOOK_URL: ${{ secrets.CYPRESS_SLACK_WEBHOOK_URL }}
